.DS_Store
phpcs.xml
phpunit.xml
Thumbs.db
wp-cli.local.yml
node_modules/
*.sql
*.tar.gz
*.zip
vendor/
app/build/**
composer.lock
*.lock
package-lock.json
.vscode/**

# Ignore the distribution.
build/**
deploy/**
release/**
.env
